body {
    background: linear-gradient(135deg,#f8f9fa,#b0d2f4,#f8f9fa);
    min-height: 100vh;
}
.card-title {
    font-weight: 600;
}
.card {
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  
}
h2{
    color: #0073e6;
    font-weight:bold;
    padding-bottom: 30px;
}